<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <style>
 #footer-nav {
      width: 50%;
  margin: 0 auto;
    }
  </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="footer-nav">



  <div class="collapse navbar-collapse" id="navbarSupportedContent" >

    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
        <p class="nav-link active">Copyright &#9400; 2019 &nbsp; |  &nbsp;</p>
       </li>

        <a class="nav-link active" href="#">Terms and Conditions &nbsp; |  &nbsp; <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us  &nbsp; |  &nbsp; </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" tabindex="-1" >FAQ &nbsp; </a>
      </li>
    </ul>

  </div>
</nav>
<!--/.Navbar-->

</body>
</html>