
{% block body %}
<br/>
<br/>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">  </head>
<body>


<div class="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav">

<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
    </form>

</nav>
</div>

<div><h4>Already registred users are:</h4>
{% for user in object_list %}
 FirstName: {{user.firstName }} &nbsp;  &nbsp;  &nbsp; |  &nbsp;  &nbsp;  &nbsp; LastName:  {{user.lastName}}  &nbsp;  &nbsp; &nbsp; <br>
    PhoneNumber: {{user.phone}}  &nbsp;  &nbsp;  &nbsp;| &nbsp;  &nbsp;  &nbsp; Joined On: {{user.date}} <br> <hr>

     {% endfor %}
</div>


</div>
</body>

{% endblock %}